QListWidget {
    outline: 0px;
}
#MainWindow {
background-color: #ffffff;
}

#horizontalSplitLine, #firstVerticalSplitLine, #secondVerticalSplitLine {
background-color: #DAA520;
}

#restoreBtn, #startStopBtn {
background-color: #CD853F;
border: none;
border-radius:4px;
color: #E5E9F0;
}

#backBtn {
background-color: rgb(255, 0, 0);
border: none;
border-radius:4px;
color: #E5E9F0;
}

#stepHistoryList, #fightHistoryList {
border:none;
padding:10px;
}

#Hint {
background: rgb(255, 0, 0);
}